@charset "UTF-8";
/* TYPOGRAPHY */
/* COLORS */
/* LAYOUT */
/* KEYBOARD NAVIGATION */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

html {
  font-family: "Open Sans", sans-serif; }

body {
  color: #303030; }

a, a:visited {
  color: inherit; }

a:focus {
  outline: 3px solid #2921e2; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", "Open Sans", sans-serif;
  color: rgba(26, 26, 26, 0.9); }

h1 {
  font-weight: 900; }

h1, h2, h3, h4, h5, h6 {
  padding: .8em 0;
  margin: 0; }

mark {
  background: none;
  font-weight: bold; }

header {
  background-color: #e2c221;
  padding: 1em 0;
  overflow: auto; }

#content {
  background-color: #fff;
  color: #303030; }

footer {
  padding: 2em 0;
  background-color: #303030;
  color: #fff;
  border-top: 8px solid #e2c221;
  font-weight: 100; }

.table-of-contents {
  list-style-type: none; }

.table-of-contents ol {
  list-style-type: none; }

.table-of-contents * {
  font-weight: normal;
  font-size: 1.2rem; }

/* CHAPTERS */
.chapter-list {
  list-style-image: inherit;
  list-style-position: inherit;
  list-style-type: none;
  padding: 0; }

/* POPULAR PAGES */
.popular-pages {
  margin-top: 2em;
  margin-bottom: 2em; }
  .popular-pages__list {
    list-style-type: none;
    padding: 0; }

.popular-page a {
  display: block;
  padding: .5em 0; }

/* HEADINGS */
ol {
  margin: 0;
  padding: 0.8em 0 0.8em 2.5em; }

li > ol {
  padding: 0 0 0 1em;
  border-left: 0.5em solid #f4f4f4; }

nav ol {
  padding: 1em 0; }

p {
  margin: 0;
  padding: 1em 0; }

/* TABLES */
table {
  border-collapse: collapse;
  text-transform: lowercase;
  width: 100%; }

table p::first-letter {
  text-transform: uppercase; }

table p {
  margin: 0;
  padding: 0.5em 0; }

th {
  background-color: #f4f4f4;
  font-weight: bold; }

th, td {
  background-color: #f9f9f9;
  border: 0.05em solid #ddd;
  line-height: 1.5;
  padding: 0.5em;
  text-align: left;
  vertical-align: top; }

/* Stack rows vertically on small screens */
@media screen and (max-width: 900px) {
  /* Hide column headers */
  thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em; }
  tr {
    border: 0.125em solid #ddd;
    border-bottom: 0; }
  /* Add a space between table rows */
  tr + tr {
    margin-top: 1.5em; }
  /* Table cells to act like rows */
  tr, td {
    display: block; }
  td {
    border: none;
    border-bottom: 0.125em solid #ddd; } }

ul.footer-links {
  padding: 0;
  margin: 0; }

footer ul {
  list-style-type: none;
  padding: 0; }

.footer-links li + li {
  margin-top: 0.5em; }

.disclaimer {
  font-size: 9px; }

.footer-links a {
  font-weight: 700; }

footer ul, footer p {
  text-align: center; }

/* PADDING */
header, footer, article, section, .table-of-contents {
  padding-left: 2rem;
  padding-right: 2rem; }

@media screen and (max-width: 500px) {
  header, footer, article, section, .table-of-contents {
    padding-left: 1rem;
    padding-right: 1rem; } }

article, .table-of-contents {
  color: #000;
  background-color: #fff; }

.search-form {
  width: 100%;
  overflow: hidden; }
  .search-form__input {
    border: 3px solid #303030;
    outline: 0;
    margin: 0;
    font-size: 1rem;
    padding: 0;
    padding: 0.6em 0.5em;
    font-family: "Open Sans", sans-serif;
    width: 100%; }
    .search-form__input:focus {
      outline: 3px solid #2921e2; }
  .search-form__input-wrapper {
    overflow: hidden;
    display: block; }
  .search-form__button {
    background-color: #303030;
    border: 3px solid #303030;
    color: #fff;
    outline: 0;
    margin: 0;
    font-size: 1rem;
    padding: 0.6em 0.7em;
    font-family: "Open Sans", sans-serif;
    width: 5rem;
    border-radius: 0;
    float: right; }
    .search-form__button:focus {
      background-color: #2921e2; }
  .search-form:focus-within {
    outline: 3px solid #2921e2; }

@media (min-width: 500px) {
  .search-form {
    max-width: 32rem; } }

/* NEXT & PREVIOUS NAV */
/* nav.neighbors > ol > li > a */
/* 1-2 li elements */
.neighbors {
  color: #fff;
  background-color: #4d4d4d;
  margin-top: 2em; }

.neighbors ol {
  overflow: auto;
  position: relative; }

.neighbors li {
  display: inline-block;
  width: 50%;
  position: relative;
  top: 0; }

.neighbors li a {
  display: block;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-decoration: none; }

.neighbors li.previous {
  float: left;
  padding-left: 2rem;
  padding-right: 1rem; }

.neighbors li.next {
  float: right;
  padding-left: 1rem;
  padding-right: 2rem; }

@media screen and (max-width: 500px) {
  .neighbors li.previous {
    padding-left: 1rem;
    padding-right: 0.5rem; }
  .neighbors li.next {
    padding-left: 0.5rem;
    padding-right: 1rem; } }

.neighbors li.next a {
  text-align: right; }

.neighbors .neighbor-title {
  text-decoration: underline; }

.neighbor-label {
  display: block;
  font-size: 0.9em;
  padding-bottom: 0.25em;
  color: #ccc; }

.neighbors li.previous .neighbor-label {
  padding-left: 1em; }

.neighbors li.previous .neighbor-label:before {
  content: "‹";
  font-size: 2em;
  line-height: .5em;
  position: absolute;
  /*font-weight: bold;*/
  color: #888;
  margin-left: -0.5em; }

.neighbors li.next .neighbor-label {
  padding-right: 1em; }

.neighbors li.next .neighbor-label:after {
  content: "›";
  font-size: 2em;
  line-height: .5em;
  position: absolute;
  /*font-weight: bold;*/
  color: #888;
  margin-left: .25em; }

.flash {
  width: 100%;
  text-align: center;
  background-color: #303030;
  padding: 1em 1rem; }
  .flash p {
    padding: 0px; }
  .flash__text {
    display: inline-block;
    color: #FFFFFF; }
  @media only screen and (max-width: 500px) {
    .flash__link {
      display: block; } }

.main-header .site-title {
  padding-top: 0; }
  .main-header .site-title__organization {
    padding-bottom: 0;
    font-weight: 500; }

.breadcrumbs {
  color: #fff;
  background-color: #4d4d4d; }

/* BREADCRUMBS */
/* nav.breadcrumbs > ol > li > a */
/* 1 - 4 li elements */
.breadcrumbs ol {
  list-style: none;
  padding: 0; }

.breadcrumbs a {
  display: block;
  text-decoration: none; }

.breadcrumbs a:after {
  content: "›";
  margin-left: .3em;
  font-size: 2em;
  line-height: .5em;
  position: absolute;
  /*font-weight: bold;*/
  color: #ccc; }

.breadcrumbs li + li {
  border-top: 1px solid gray; }

.breadcrumbs li a {
  padding: 1em 2em;
  text-decoration: underline; }

.breadcrumbs li:nth-child(2) a {
  padding-left: 3em; }

.breadcrumbs li:nth-child(3) a {
  padding-left: 4em; }

.breadcrumbs li:nth-child(4) a {
  padding-left: 5em; }

.breadcrumbs li:nth-child(5) a {
  padding-left: 6em; }

.breadcrumbs li:nth-child(6) a {
  padding-left: 7em; }

.search-results__heading {
  padding-bottom: 0; }

.search-results__list {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em; }

.search-result__title {
  font-weight: 500; }
