.sidebox {
	color: white;
	background-color: #001f3f;
	padding: .5em;
}

.textbox {
	background-color: #7FDBFF;
	padding: .5em;
}

.important {
	background-color: #FFDC00;
	padding: .5em;
}

main, .main-header-contents {
	display: block;
	max-width: 43em;
	margin: 0 auto;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

