@import 'partials/_variables.scss';

* { box-sizing: border-box; }
html { font-family: "Open Sans", sans-serif; }

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: $black-light;
}

header { background-color: $brand-yellow; padding: 1em 0; overflow: auto; }
#content { background-color: #fff; color: $black-light;}
footer { padding: 2em 0;
         background-color: $black-light;
         color: #fff;
         border-top: 8px solid $brand-yellow;
         font-weight: 100;}


.table-of-contents { list-style-type: none; }
.table-of-contents ol { list-style-type: none; }
.table-of-contents * {
  font-weight: normal;
  font-size: 1.2rem;
}

/* CHAPTERS */
.chapter-list {
  list-style-image: inherit;
  list-style-position: inherit;
  list-style-type: none;
  padding: 0;
}

/* POPULAR PAGES */
.popular-pages {
  margin-top: 2em;
  &__list {
    list-style-type: none;
    padding: 0;
  }
  margin-bottom: 2em;
}
.popular-page a {
  display: block;
  padding: .5em 0;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", "Open Sans", sans-serif;
  color: $black-medium;
}
h1 { font-weight: 900; }

h1, h2, h3, h4, h5, h6 {
  padding: .8em 0;
  margin: 0;
}


a, a:visited { color: inherit; }
ol {
  margin: 0;
  padding: 0.8em 0 0.8em 2.5em;
}
li > ol {
  padding: 0 0 0 1em;
  border-left: .5em solid $off-white;
}
nav ol {
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

/* TABLES */
table {
  border-collapse: collapse;
  text-transform: lowercase;
  width: 100%;
}

table p::first-letter {
  text-transform: uppercase;
}

table p {
  margin: 0;
  padding: 0.5em 0;
}

th {
  background-color: $off-white;
  font-weight: bold;
}
th, td {
  background-color: #f9f9f9;
  border: 0.05em solid $lighter-gray;
  line-height: 1.5;
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

/* Stack rows vertically on small screens */
@media screen and (max-width: 900px) {

  /* Hide column headers */
	thead tr {
		position: absolute;
		top: -9999em;
		left: -9999em;
	}
	tr {
    border: 0.125em solid $lighter-gray;
    border-bottom: 0;
  }

  /* Add a space between table rows */
  tr + tr {
    margin-top: 1.5em;
  }

  /* Table cells to act like rows */
  tr, td {
		display: block;
	}
	td {
		border: none;
		border-bottom: 0.125em solid $lighter-gray;
	}
}

ul.footer-links {
  padding: 0; margin: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li + li { margin-top: 0.5em; }
.disclaimer { font-size: 9px; }

.footer-links a { font-weight: 700; }
footer ul, footer p { text-align: center; }

/* PADDING */
header, footer, article, section, .table-of-contents {
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}


@media screen and (max-width: $mobile-breakpoint) {
  header, footer, article, section, .table-of-contents {
    padding-left: $horizontal-padding--mobile;
    padding-right: $horizontal-padding--mobile;
  }
}

article, .table-of-contents {
  color: #000;
  background-color: #fff;
}

/* Menu item styling */
#site-navigation > nav > h2 {
  color: inherit;
  padding: .5rem 1rem 0 1rem;
}
#site-navigation > ul {
  padding: 0;
  list-style-type: none;
}

#site-navigation li > a {
  display: block;
  padding: .5em 1em;
  border-top: 1px solid lighten(rgba(26, 26, 26, 1), 20%);
}
#site-navigation li:last-child > a {
  border-bottom: 1px solid lighten(rgba(26, 26, 26, 1), 20%);
}




@import 'partials/_neighbors.scss';
@import 'partials/_banner.scss';
@import 'partials/_header.scss';
@import 'partials/_breadcrumbs.scss';
