* { box-sizing: border-box; }
html { font-family: "Open Sans", sans-serif; }

html, body {
  margin: 0;
  padding: 0;
  color: rgba(26, 26, 26, 0.7);
  height: 100%;
}

main { color: white; background-color: rgba(26, 26, 26, 0.9); }
header { background-color: #e2c221; padding: 1em 0; }
#content { background-color: #fff; color: rgba(26, 26, 26, 0.9);
           padding: 1rem 2rem;}
footer { padding: 2em 0;
         border-top: 8px solid #e2c221;
         font-weight: 100; }


.table-of-contents { list-style-type: none; }
.table-of-contents ol { list-style-type: none; }

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", "Open Sans", sans-serif;
  color: rgba(26, 26, 26, 0.9);
}
h1 { font-weight: 900; }
h1 a, h2 a, h3 a, h4 a, h5 a { color: inherit; }
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited { color: inherit; }


ul.footer-links {
  padding: 0; margin: 0;
}

#site-navigation ul,
footer ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li + li { margin-top: 0.5em; }
.disclaimer { font-size: 9px; }

.footer-links a { font-weight: 700; }
ul a { color: inherit; text-decoration: none; }
ul a:visited { color: inherit; }
footer ul, footer p { text-align: center; }


#content, header, footer {
  padding-left: 2rem;
  padding-right: 2rem;
}


/* Sidebar menu toggling */
body {
  position: relative;
}
body > #site-navigation, body > main {
  position: absolute;
  top: 0;
  height: 100%;
  overflow-y: auto;
  transition: left 0.5s ease-in-out;
}
body > #site-navigation {
  width: 260px;
  left: -260px;
}
body > main {
  left: 0;
  width: 100%;
}



#site-navigation {
  background-color: rgba(26, 26, 26, 0.9);
  color: white;
}

@media only screen and (min-width: 900px) {
  body > main {
    width: auto;
    left: 260px;
  }
  body > #site-navigation { left: 0; }
}

.menu-active {
  left: -260px;
}

/* Menu item styling */
#site-navigation > ul {
  padding: 0;
  list-style-type: none;
}

#site-navigation li > a {
  display: block;
  padding: .3em 1em;
}

#search-input {
  position: relative;
}

#search-input input[type='text'] {
  width: 80%;
  padding: 0;
  margin: 0;
}

#search-input input[type='submit'] {
  width: 20%;
  padding: 0;
  margin: 0;
}