$bannerBackgroundPrimaryColor: #000;

.banner {
 width: 100%;
 text-align: center;

    &__content {
      padding:10px;
      background-color: $bannerBackgroundPrimaryColor;
    }

   &__text {
     display: inline-block;
     color: #FFFFFF;
   }

   &__link {
      @media only screen and (max-width: 900px) {
        display: block;
      }
   }

}
