.main-header{
  height: 110px;
  &__links {
    width:50%;
    float:left;
    margin-top: 13px;
      a {
        display: block;
        margin-bottom: 10px
      }
    }
  &__search {
    width:50%;
    float:right;
    margin-top: 20px;

    #search-input {
      width: 250px;
      float:right;
      position: relative;
      color: #000000;
      padding-bottom: 6px;

      & input[type='text'] {
        font-size: 1em;
        width: 100%;
        padding: 0.6em 1em;
        margin: 0;
      }

      & input[type='submit'] {
        width: 20%;
        padding: 0;
        margin: 0;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    height: 190px;

    &__links {
      width:100%;
      float:right;
      margin-top: 10px;
      text-decoration: none;
    }

    &__search {
      width:100%;
      float:left;
      margin-top: 20px;
      #search-input {
        width: 100%;
        float:none;
      }
    }
  }
}
