nav ol {
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.column {
  margin: 0 auto;
  max-width: 50em;
}

/* PADDING */
header, footer, article, section, .table-of-contents {
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}

@media screen and (max-width: $mobile-breakpoint) {
  header, footer, article, section, .table-of-contents {
    padding-left: $horizontal-padding--mobile;
    padding-right: $horizontal-padding--mobile;
  }
}

