.search-form {
  width: 100%;
  overflow: hidden;

  &__input {
    border: 3px solid $black-light;
    outline: 0;
    margin: 0;
    font-size: 1rem;
    padding: 0;
    padding: 0.6em 0.5em;
    font-family: $base-font;
    width: 100%;

    &:focus {
      outline: $focus-outline;
    }

  }

  &__input-wrapper {
    overflow: hidden;
    display: block;
  }

  &__button {
    background-color: $black-light;
    border: 3px solid $black-light;
    color: #fff;
    outline: 0;
    margin: 0;
    font-size: 1rem;
    padding: 0.6em 0.7em;
    font-family: $base-font;
    width: 5rem;
    border-radius: 0;
    float: right;
    &:focus {
      background-color: $focus-color;
    }
  }

  &:focus-within {
    outline: $focus-outline;
  }
  
}

@media (min-width: $mobile-breakpoint) {
  .search-form {
    max-width: 32rem;
  }
}