.table-of-contents {
  ol, li {
    padding: 0;
    margin: 0;
  }
  h2, h3, h4, h5 { 
    font-size: 1rem;
  }
  h3 { padding-left: 1rem * 2; font-weight: normal; }
  h4 { padding-left: 1rem * 3; font-weight: normal; }
  h5 { padding-left: 1rem * 4; font-weight: normal; }
}
