/* TYPOGRAPHY */
$sans-serif: "Open Sans", sans-serif;
$base-font: $sans-serif;


/* COLORS */
$black-light: rgba(48, 48, 48, 1.0);
$black-medium: rgba(26, 26, 26, 0.9);
$off-white: #f4f4f4;
$brand-yellow: #e2c221;
$dark-gray: #4d4d4d;
$light-gray: #ccc;
$lighter-gray: #ddd;


/* LAYOUT */
$mobile-breakpoint: 500px;
$tablet-breakpoint: 900px;
$horizontal-padding: 2rem;
$horizontal-padding--mobile: 1rem;
