.sidebox {
 height:auto;
 width:auto;
 overflow:hidden;;
 background: #DEDEDE ;
 border-radius: 20px;
 padding: 10px;
 border: solid 7px #444;
}
.sidebox-heading {
 font-size: 20px;
 font-weight: bold;
}

.sidebox-text {
 font-size: 14px
}