<section role="note" class="banner">
  <div class="banner__content">
    <p class="banner__text">This is a beta site</p>
    <a class="banner__button" href="mailto:bgolder@codeforamerica.org?subject=Root%20and%20rebound%20beta%20feedback">Leave your feedback</a>
  </div>
</section>
