<section role="note" class="banner">
  <div class="banner__content">
    <p class="banner__text">Welcome! This website is an experiment. </p>
    <a class="banner__link" href="mailto:bgolder@codeforamerica.org?subject=Root%20and%20rebound%20beta%20feedback">Please leave us feedback!</a>
  </div>
</section>
