<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>
          {%- block title %}{{ page.title }} - Roadmap to Reentry{% endblock title -%}
        </title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700normal,700italic,900normal">
        <link rel="stylesheet" href="{{ prefix }}/css/style.css">
    </head>
    <body class="content-level-{{ page.level }}">
        <header role="banner">
          <div class="main-header-contents">
            <p class="subtitle">Roadmap to Reentry: A California Legal Guide</p>
            <nav id="site-navigation">
              <ul>
              {%- for chapter in chapters %}
                <li><a href="{{ prefix }}/{{ chapter.get_path() }}/">{{ chapter.title }}</a></li>
              {%- endfor %}
              </ul>
            </nav>
            
          </div>
        </header>
        
        <main role="main">
        {% block main %}
        {% endblock main %}
        </main>

        <footer>
            <p class="copyright-statement">© 2017 Root &amp; Rebound</p>
        </footer>

        </body>
</html>
