<!doctype html>
<html lang="en-US">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        {%- block title %}{{ page.title }} - Roadmap to Reentry{% endblock title -%}
      </title>

      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-102234406-1', 'auto');
        ga('send', 'pageview');

      </script>
      <!-- End Google Analytics -->
      
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700normal,700italic,900normal">
      <link rel="stylesheet" href="{{ prefix }}/css/style.css">
      <script src="https://unpkg.com/jquery@3.1.1"></script>
      <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
      <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
  </head>
  <body class="content-level-{{ page.level }}">
    <div id="site-navigation">
      <form id="search-input">
        <input type="text" placeholder="🔍 Search">
      </form>

      <nav>
        {# TODO: Add skiplink to main content #}
        <h2>Chapters</h2>
        <ul>
        {%- for chapter in chapters %}
          <li><a href="{{ prefix }}/{{ chapter.get_path() }}/">{{ chapter.title }}</a></li>
        {%- endfor %}
        </ul>
      </nav>
    </div>

    <main role="main">

      <header role="banner">

        <a href="#" id="js-toggle-menu">Menu & Search</a>

        <div class="main-header-contents">
          <p class="subtitle">
            <a href="{{ prefix }}/">Roadmap to Reentry: A California Legal Guide</a>
          </p>
        </div>
      </header>

      {%- if page.parent %}
      <nav class="breadcrumbs">
        <ol>
          {%- if page.parent.parent.parent %}
          <li><a href="{{ prefix }}/{{ page.parent.parent.parent.get_path() }}">{{ page.parent.parent.parent.title }}</a></li>
          {%- endif %}
          {%- if page.parent.parent %}
          <li><a href="{{ prefix }}/{{ page.parent.parent.get_path() }}">{{ page.parent.parent.title }}</a></li>
          {%- endif %}
          <li><a href="{{ prefix }}/{{ page.parent.get_path() }}">{{ page.parent.title }}</a></li>
        </ol>
      </nav>
      {%- endif %}
      {%- block main %}
      <article>
        <h1>{{ page.title }}</h1>
        {%- for tag in page.contents %}
        {{ tag|safe }}
        {%- endfor %}
      </article>
      {%- if page.level >= 3 or page.children|length == 1 %}
        {%- for child in page.children %}
          <article>
          <h{{ 1 + (child.level - page.level) }}><a href="{{ prefix }}/{{ child.get_path() }}/">{{ child.title }}</a></h{{ 1 + (child.level - page.level) }}>
          {%- for tag in child.contents %}
            {{ tag|safe }}
          {%- endfor %}
          </article>
        {% endfor %}
      {%- else %}
        {#- we are on an index page #}
        <ol class="table-of-contents">
          {%- for child in page.children %}
          <li>
            <h{{ 1 + (child.level - page.level) }}><a href="{{ prefix }}/{{ child.get_path() }}/">{{ child.title }}</a></h{{ 1 + (child.level - page.level) }}>
            {%- if child.children %}
              <ol>
              {%- for grandchild in child.children %}
                <li><h{{ 1 + (grandchild.level - page.level) }}><a href="{{ prefix }}/{{ grandchild.get_path() }}/">{{ grandchild.title }}</a></h{{ 1 + (grandchild.level - page.level) }}>
                </li>
              {%- endfor %}
              </ol>
            {%- endif %}
          </li>
          {%- endfor %}
        </ol>
      {%- endif %}
      {%- endblock main %}

      {%- if page.prev or page.next %}
      <nav class="neighbors">
        <ol>
          {%- if page.prev %}
          <li class="previous">
            <a href="{{ prefix }}/{{ page.prev.get_path() }}">
              <span class="neighbor-label">Previous</span>
              <span class="neighbor-title">{{ page.prev.title }}</span>
            </a>
          </li>
          {%- endif %}
          {%- if page.next %}
          <li class="next">
            <a href="{{ prefix }}/{{ page.next.get_path() }}">
              <span class="neighbor-label">Next</span>
              <span class="neighbor-title">{{ page.next.title }}</span>
            </a>
          </li>
          {%- endif %}
        </ol>
      </nav>
      {%- endif %}

      {% include "footer.jinja" %}

    </main>
    <script src="{{ prefix }}/js/index.js"></script>
    <!-- Loop 11 (for user testing campaigns) -->
    <script type="text/javascript">
      window.loop11_key = "0053bb34cf8d29d058e45e0f6b867920da057b2e";
    </script>
    <script src="//cdn.loop11.com/my/loop11.js" type="text/javascript" async="async"></script>
    <!-- End Loop 11 -->
  </body>
</html>
