<aside role="note" class="flash">
  <div class="column">
    <p class="flash__text">
      Welcome! This website is an experiment.
      <a class="flash__link" href="mailto:{{ links.email_contact.1 }}?subject=Roadmap%20website%20feedback">Please leave us feedback!</a>
    </p>
  </div>
</aside>
