{% extends "base.jinja" %}

{% block main %}

<article>
<h1>{{ page.title }}</h1>
{% for tag in page.contents %}
<p>
  {{ tag.text }}
</p>
{% endfor %}
</article>

{% for child in page.children %}
  {% if child.level == 3 %}
  <h2><a href="/{{ child.get_path() }}/index.html">{{ child.title }}</a></h2>
  {% elif child.level == 4 %}
  <h3><a href="/{{ child.get_path() }}/index.html">{{ child.title }}</a></h3>
  {% endif %}
{% endfor %}
{% endblock main %}