{% extends "base.jinja" %}

{% block main %}

<article>
<h1>{{ page.title }}</h1>
{% for tag in page.contents %}
{{ tag|safe }}
{% endfor %}
</article>

{% for child in page.children %}
  {% if child.level == 2 %}
  <h2><a href="/{{ child.get_path() }}/">{{ child.title }}</a></h2>
  {% elif child.level == 3 %}
  <h3><a href="/{{ child.get_path() }}/">{{ child.title }}</a></h3>
  {% elif child.level == 4 %}
  <h4><a href="/{{ child.get_path() }}/">{{ child.title }}</a></h4>
  {% endif %}
{% endfor %}
{% endblock main %}