{% extends "base.jinja" %}

{% block main %}

<article>
<h1>{{ page.title }}</h1>
{% for tag in page.contents %}
{{ tag|safe }}
{% endfor %}
</article>

{% for child in page.children %}
<article>
  <h2><a href="/{{ child.get_path() }}/">{{ child.title }}</a></h2>

  {% for tag in child.contents %}
  <p>
    {{ tag.text }}
  </p>
  {% endfor %}
  
</article>
{% endfor %}
{% endblock main %}