
<footer>
  <div class="footer-main-contents">
    <ul class="footer-links">
      <li><a href="{{ links.donate.1 }}">{{ links.donate.0 }}</a></li>
      <li><a href="{{ prefix }}/">Roadmap Home</a></li>
      <li><a href="{{ links.about_roadmap.1 }}">{{ links.about_roadmap.0 }}</a></li>
      <li><a href="{{ links.training_hub.1 }}">{{ links.training_hub.0 }}</a></li>
      <li><a href="{{ links.rnr_home.1 }}">{{ links.rnr_home.0 }}</a></li>
      <li><a href="{{ links.about_rnr.1 }}">{{ links.about_rnr.0 }}</a></li>
      <li><a href="{{ links.take_action.1 }}">{{ links.take_action.0 }}</a></li>
      <li>Questions: <a href="mailto:{{ links.email_contact.1 }}">{{ links.email_contact.1 }}</a></li>
      <li>Reentry Hotline: <a href="tel:{{ links.hotline_number.1 }}">{{ links.hotline_number.0 }}</a></li>
    </ul>
    <p class="copyright-statement">© 2017 Root &amp; Rebound</p>
    <p class="nonprofit-tax-id-statement">
      Root &amp; Rebound is an independent 501(c)3 organization,
      tax-ID 46-3876220.
    </p>
    <p class="disclaimer">{{ disclaimer }}</p>
  </div>
</footer>
