{% extends "base.jinja" %}

{%- block title %}Roadmap to Reentry - Root &amp; Rebound{% endblock title -%}


{%- block main_content %}
  <section class="search-results__section">
    <h3 class="search-results__heading">Search Results</h3>
    <div class="search-results__metadata">
    </div>
    <ol class="search-results__list">
    </ol>
    <div class="search-result last-resort">
     <h3 class="search-result__title">
      Can't find what you want? 
      Call <mark><a href="tel:5102794662">(510) 279-4662</a></mark>
     </h3>
    </div>
  </section>
{%- endblock main_content %}