{% extends "base.jinja" %}

{%- block title %}Roadmap to Reentry - Root &amp; Rebound{% endblock title -%}


{% block main %}
  <header role="banner" class="main-header">
    <h3>Root &amp; Rebound</h3>
    <h1>Roadmap to Reentry</h1>
    <p>A California legal guide for incarcerated people and their advocates.</p>
    <div class="main-header__search">
      <form id="search-input">
        <input type="text" placeholder="🔍 Search">
      </form>
    </div>
  </header>
  <article>  
  <h2>Chapters</h2>
    <ol class="chapter-list">
    {%- for chapter in chapters %}
      <li>
        <h3>
          <a href="{{ prefix }}/{{ chapter.get_path() }}/">{{ chapter.title }}</a>
        </h3>
      </li>
    {%- endfor %}
    </ol>
  </article>
  <section class="popular-pages">
    <h3 class="popular-pages__heading">Popular Pages</h3>
    <ol class="popular-pages__list"></ol>
  </section>
{% endblock main %}