{% extends "base.jinja" %}

{%- block title %}Roadmap to Reentry - Root &amp; Rebound{% endblock title -%}



{%- block header_content %}
<p>A California legal guide for people in reentry and their advocates.</p>
{%- endblock header_content %}

{%- block main_content %}
  <article>
    <div class="column">
      <h2>Chapters</h2>
      <ol class="chapter-list">
      {%- for chapter in chapters %}
        <li>
          <h3>
            <a href="{{ prefix }}/{{ chapter.get_path() }}/">{{ chapter.title }}</a>
          </h3>
        </li>
      {%- endfor %}
      </ol>
    </div>
  </article>
  <section class="popular-pages">
    <div class="column">
      <h3 class="popular-pages__heading">Popular Pages</h3>
      <ol class="popular-pages__list"></ol>
    </div>
  </section>
{%- endblock main_content %}
